:root {
    --primary-color: #0b0b58;
    --secondary-color: #747171;
}

/*Update browser defaults to match style choices*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 0px 50px 10px 0;
    background-color: var(--primary-color);   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

/*apply styles to <h1> in header*/
header h1 {    
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 0;
    padding: 5px 10px 5px 100px;
}

/*apply styles to <a> in header*/
header a {
    text-decoration: none;
}

header a:visited {
    color: var(--primary-color);
}

/*apply styles to navigation*/
header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 7px 0;
    color: var(--primary-color);
}

/*apply styles to <li> in navigation*/
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: underline 3px;
    text-underline-offset: 3px;
    align-items: center;
}

/*apply styles to <a> in navigation in header*/
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.2vw;
    color: var(--secondary-color);
}

header nav ul li a:visited {
    color: var(--secondary-color);
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
    text-decoration: none;
}

/*apply styles to <footer>*/
footer {    
    background: var(--primary-color);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*apply styles to <h4 within footer*/
footer h4 {
    color: var(--secondary-color);
    font-size: 15px;
    margin: 0;
}

/*apply styles to the <section> element*/
section {
    padding: 10px;
}

/* Hero Style Start */
.hero {
    background-image: url("../images/datascience.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    background-attachment: fixed;
    background-position: 80%;
}

.hero-cta {
    margin: 3.5%;
    display: flex;
    align-items: flex-end;
}

.hero-cta h2 {
    font-size: 25px;
    padding: 5px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/*About Me Styles*/
.intro {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    margin-top: 20px;
}

.intro p {
    text-align: left;
    width: 70%;
    font-size: 20px;
}

.section-title {
    font-size: 35px;
    color: var(--primary-color);
    border-right: 3px solid;
    padding-right: 15px;
    text-align: right;
    justify-content: right;
    width: 15%;
    margin: 10px 20px 20px 50px;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
}

/*Work Section Styles*/
.projects {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.container {
    width: 100%;
    flex-basis: 100%;
    border: 5px solid var(--secondary-color);
    flex-wrap: wrap;
    position: relative;
    margin: 5px;
}

.container img {
    object-fit: cover;
    width: 100%;
    filter: brightness(80%);
    opacity: .8;
    height: 100%;
}

.container img:hover {
    filter: brightness(100%);
    opacity: 1;
}

.project-details {
    background-color: var(--secondary-color);
    color: var(--primary-color); 
    z-index: auto 2;   
    position: absolute;
    bottom: 20px;
}

.project-details h4 {
    color: var(--primary-color);
    font-size: 25px;
}

.project-details h5 {
    color: var(--primary-color);
    font-size: 20px;
}
/*Contact section styles*/
.contact {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    font-size: 16px;
    color: var(--primary-color);
    width: 100%
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: underline 3px;
    text-underline-offset: 3px;
    text-align: center;
    width: 70%;
    align-content: center;
    font-weight: bold;
}

.contact-info div a {
    color: var(--primary-color);
}

.contact-info div a:visited {
    color: var(--primary-color);
}
